@import "../../assets/styles/vars";
@import "../../elements/Label/Label";

.SelectField {
  display: block;
  margin-bottom: 28px;
  position: relative;

  &[data-loaded="true"] {
    & * {
      color: $color-placeholder !important;
    }
  }

  &__select {
    position: relative;

    &::before {
      content: "";
      border-radius: 8px 0 0 8px;
      background-color: transparent;
      position: absolute;
      left: 1px;
      top: 1px;
      width: 2px;
      height: calc(100% - 2px);
      transition: all $transition;
    }

    &:focus-within {
      &::before {
        background-color: $color-blue;
      }
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: $color-primary transparent transparent transparent;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  select {
    background-color: $color-white;
    display: block;
    height: 48px;
    width: 100%;
    padding: 14px 16px;
    font-size: 16px;
    line-height: 1.15;
    border: 1px solid $color-grey;
    border-radius: 4px;
    outline: none;
    color: $color-primary;
    appearance: none;

    &::placeholder {
      color: $color-placeholder;
    }
  }
}
