@import "../../assets/styles/vars";

label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: $color-label;

  .error-msg {
    color: $color-red;
    text-transform: none;
  }
}