@import "../assets/styles/vars";

.ContactsSection {
  position: relative;
  min-height: 100vh;

  @media (min-width: $desktop) {
    margin-top: 6.25rem;
  }

  &::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: -1;
    background-image: url(../assets/images/Map.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: contain;
  }

  .container {
    display: flex;
    padding: 0 1rem;

    @media (min-width: $desktop) {
      padding: 0 9rem;
    }
  }

  .Form {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media (min-width: $desktop) {
      position: relative;
      top: -5rem;
      margin-top: 0;
      margin-left: auto;
    }
  }
}
