$color-primary: #212121;
$color-black: #000;
$color-label: #484848;
$color-white: #fff;
$color-grey: #EBEBEB;
$color-red: #FF5A5F;
$color-blue: #5A6BFF;
$color-icon: #4D4D4D;
$color-placeholder: #A6A6A6;
$shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
$transition: .2s;
// media
$desktop: 1024px;
